.card {
    background-color: aliceblue;
    background-image: url('src/assets/dboard-background.jpg');
    background-size: cover;
    
}

.dboard-cards {
    max-width: 60%;
    background-color: beige;
}

.card-buttons {
    width: 100%;
}

.dboard-img {
    background-color: beige;
}

.browse-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.search-field {
    width: 100%;
}