<div fxLayout="column" fxLayoutGap="2%">
    <div fxFlex>

        <mat-card class="card">
            <mat-card-header>
                <mat-card-title>"THE WORLD BELONG TO THOSE WHO READS.."</mat-card-title>
                <mat-card-subtitle>Rick Holland</mat-card-subtitle>
            </mat-card-header>

            <mat-card-content>
                <div fxLayout fxLayout.xs="column" fxLayoutGap="2%" fxLayoutAlign="space-evenly center">

                    <div fxFlex>
                        <mat-card class="dboard-cards">
                            <mat-card-header>
                                <mat-card-title>BROWSE BOOKS</mat-card-title>
                                <mat-card-subtitle>
                                    <mat-divider></mat-divider>
                                </mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-actions>
                                <button mat-button class="card-buttons">CLICK HERE!</button>
                            </mat-card-actions>
                        </mat-card>
                    </div>

                    <div fxFlex>
                        <mat-card class="dboard-cards">
                            <mat-card-header>
                                <mat-card-title>RETURN BOOKS</mat-card-title>
                                <mat-card-subtitle>
                                    <mat-divider></mat-divider>
                                </mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-actions>
                                <button mat-button class="card-buttons">CLICK HERE!</button>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>

    <div fxFlex>
        <mat-card class="card">
            <mat-card-header>
                <mat-card-title>TOP BOOKS</mat-card-title>
                <mat-card-subtitle>
                    <mat-divider></mat-divider>
                </mat-card-subtitle>
            </mat-card-header>

            <mat-card-content>

            </mat-card-content>
        </mat-card>
    </div>
</div>