$padding: 2px;
$full-width: 100%;
$lt-full-width: 90%;

//scss feature mixin used - to create reusable, funtion type assignments. 
@mixin bg($bg-color: rgb(245, 245, 245), $bg-size: cover) {
    background-color: $bg-color;
    background-size: $bg-size;
}
.card {
    @include bg;
}

.books-cards {
    min-width: 250px;
    min-height: 360px;
    padding: 1%;
}

.books-cards-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

.card-buttons {
    padding: $padding;
    width: $lt-full-width;
}

.browse-form {
    width: $full-width;
}

.search-field {
    width: $lt-full-width;
}
  
  //Below class is used just to help Template identify the local image urls.
.images-urls {
    background-image: url('src/assets/dboard-background.jpg');
    background-image: url('src/assets/harry-potter.jpg');
    background-image: url('src/assets/wings-of-fire.jpg');
    background-image: url('src/assets/take-a-book.jpg');
}