$icon-padding: 10px;
$full-width: 100%;
$lt-full-width: 90%;

@mixin bg($bg-color: rgb(245, 245, 245), $bg-size: cover) {
    background-color: $bg-color;
    background-size: $bg-size;
}
.card {
    @include bg;
}

.books-cards {
    min-width: 250px;
    padding: 1%;
}

.card-buttons {
    width: $lt-full-width;
}

.browse-form {
    width: $full-width;
}

.search-field {
    width: $lt-full-width;
}

.example-viewport {
    height: 100%;
    width: 100%;
    border: 1px solid black;
  }
  
  .example-item {
    height: 50px;
  }
  
  //Below class is used just to help Template identify the local image urls.
  .images-urls {
    background-image: url('src/assets/dboard-background.jpg');
    background-image: url('src/assets/harry-potter.jpg');
    background-image: url('src/assets/wings-of-fire.jpg');
    background-image: url('src/assets/take-a-book.jpg');
  }