.card {
    background-color: aliceblue;
    background-image: url('src/assets/dboard-background.jpg');
    background-size: cover;   
}

.books-cards {
    max-width: 60%;
    min-width: 40%;
    padding-top: 20%;
    margin: 20%;
    background-color: beige;
}

.card-buttons {
    width: 100%;
}

.browse-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.search-field {
    width: 100%;
}